:root {
    /* Color */
    --color-black: #000000;
    --color-white: #ffffff;
    --color-red: #ff0000;
    --color-titlered: #e00000;
    --color-brownred: #a33232;
    --color-lightred: #d85757;
    --color-pink: #ffb6b6;
    --color-green: #008000;
    --color-lightgreen: #9ccc65;
    --color-orange: #ffbb00;
    --color-deeporange: #e48100;

    /* Font size */
    --font-Xlarge: 72px;
    --font-large: 54px;
    --font-middle: 40px;
    --font-medium: 32px;
    --font-normal: 28px;
    --font-twentyfour: 24px;
    --font-twenty: 20px;
    --font-regular: 17px;
    --font-small: 14px;
    --font-micro: 12px;

    /* Size */
    --size-field-width: 840px;
    --size-field-height: 680px;

    /* Animation duration */
    --animation-duration: 300ms;
    --animation-duration2: 800ms;

    /* fonts */
    --font-eng1: 'Dancing Script', cursive;
    --font-eng2: 'Permanent Marker', cursive;
    --font-kor1: 'Dokdo', cursive;
    --font-kor2: 'Gowun Dodum', sans-serif;
    --font-com1: 'Jua', sans-serif;
}

* {
    box-sizing: border-box;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: url('imgs/target.png') 30 30, auto;
}

body {
    text-align: center;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: var(--font-com1);
}

button {
    border: none;
    outline: none;
    cursor: url('imgs/target2.png') 30 30, auto;
    transition: transform 100ms ease-in;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

a:hover {
    animation: color-change 3s infinite;
    cursor: url('imgs/target2.png') 30 30, auto;
}

h1 {
    font-size: var(--font-medium);
}

button *:hover {
    cursor: url('imgs/target2.png') 30 30, auto;
}

.game {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.game__container {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: var(--size-field-width);
    height: var(--size-field-height);
    font-size: var(--font-normal);
}

.game__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: inherit;
    height: 80px;
    z-index: 1;
    background-color: var(--color-lightred);
    user-select: none;
    margin-top: 50px;
    position: relative;
}

.game__pause {
    width: 60px;
    height: 60px;
    margin: 0 20px;
    background-color: var(--color-white);
    border: 4px solid black;
    border-radius: 7px;
    font-size: 24px;
    visibility: hidden;
}

.game__notice-btn {
    background-color: transparent;
    animation: color-change-red 2s infinite;
    position: absolute;
    top: 54px;
    left: 424px;
    font-weight: bold;
    font-size: var(--font-normal);
    font-family: var(--font-eng1);
}

.game__mode-btn-box {
    margin-top: 10px;
}

.game__mode-btn {
    width: 200px;
    height: 200px;
    font-weight: bold;
    font-family: var(--font-eng2);
    font-size: var(--font-medium);
    color: var(--color-white);
    -webkit-text-stroke: 1px var(--color-black);
    border: 3px solid var(--color-black);
    margin: 5px;
}

.game__mode-btn:hover {
    animation: border-change 3s infinite;
}

.game__mode-btn.mode1 {
    background: url('imgs/background1.jpg') center/cover no-repeat;
}
.game__mode-btn.mode2 {
    background: url('imgs/background11.jpg') center/cover no-repeat;
}
.game__mode-btn.mode3 {
    background: url('imgs/background4.jpg') center/cover no-repeat;
}
.game__mode-btn.mode4 {
    background: url('imgs/background9.jpg') center/cover no-repeat;
}

.game__pause:hover,
.pop-up__btn-box button:hover {
    transform: scale(1.1);
}

body *:active {
    cursor: url('imgs/target2.png') 30 30, auto;
}

.game__timer {
    width: 100px;
    height: 50px;
    margin-right: 20px;
    background-color: var(--color-brownred);
    text-align: center;
    border: 4px solid black;
    font-size: var(--font-medium);
    line-height: 50px;
    border-radius: 15px;
}

.game__level-box {
    width: 200px;
    font-family: var(--font-eng2);
    letter-spacing: -2px;
    font-size: var(--font-middle);
}

.game__volume-box {
    display: flex;
    flex-direction: column;
    font-size: var(--font-regular);
    margin-top: 5px;
    position: relative;
}

.game__volume {
    display: flex;
    justify-content: flex-end;
    padding: 1px 10px 0 10px;
}

.game__volume__mute {
    background-color: transparent;
    font-size: var(--font-regular);
    position: absolute;
    bottom: 2px;
    left: 4px;
    padding: 0;
}

.game__volume__mute:hover {
    transform: scale(1.2);
}

.game__info-box {
    display: flex;
    margin-right: 15px;
    align-items: center;
}

.game__score-box {
    margin: 0 10px;
    width: 100px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    user-select: none;
}

.game__life {
    width: 130px;
    text-align: right;
    font-size: var(--font-normal);
}

.zombie-logo {
    width: 50px;
    height: 50px;
}

.game__field {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
    justify-content: center;
}

.game__large-btn {
    width: 350px;
    height: 350px;
    font-weight: bold;
    color: var(--color-white);
    font-family: var(--font-eng2);
    -webkit-text-stroke: 3px var(--color-black);
    border: 3px solid var(--color-black);
    margin: 10px;
    background: url('imgs/img.jpg') center/cover no-repeat;
    font-size: var(--font-large);
    opacity: 0.6;
    transition: opacity 700ms ease-in;
}

.game__large-btn:hover {
    animation: border-change 3s infinite;
    opacity: 1;
}

.game__notice-page,
.game__mode-page,
.game__ranking-page,
.game__welcome-page {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.game__welcome-page {
    background: url('imgs/background-welcome.jpg') center/cover no-repeat;
}

.game__ranking-page {
    background: url('imgs/background-ranking.jpg') center/cover no-repeat;
}

.game__mode-page {
    background: url('imgs/background-mode.jpg') center/cover no-repeat;
}

.game__notice-page {
    background: url('imgs/background-notice.jpg') center/cover no-repeat;
}

.game__mini-container {
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 20px;
    border-radius: 30px;
    width: 600px;
    height: 530px;
    position: relative;
    color: var(--color-white);
}

.game__field.description {
    background: url('imgs/background-description.jpg') center/cover no-repeat;
    display: flex;
}

.game__title {
    margin: 8px;
    font-family: var(--font-eng2);
}

.game__description {
    display: block;
    line-height: 22px;
    font-size: var(--font-regular);
    font-family: var(--font-kor2);
}

.game__mode-page .game__description {
    font-family: var(--font-kor1);
    font-size: var(--font-medium);
}

.game__description .important {
    width: 95%;
    border-top: 1px solid var(--color-white);
    padding-top: 6px;
    margin: auto;
}

.description-mode-title {
    font-size: var(--font-twentyfour);
    color: var(--color-titlered);
    font-family: var(--font-eng2);
}

.game__field-black {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
    position: relative;
}

.game__start {
    font-family: var(--font-kor1);
    font-weight: bold;
    border: 2px solid var(--color-black);
    animation: backgroundcolor-change 3s infinite;
    border-radius: 8px;
    font-size: var(--font-middle);
    line-height: var(--font-middle);
    width: 150px;
    height: 40px;
    margin-top: 5px;
}

.notice-title {
    color: red;
    font-size: var(--font-medium);
    margin: 0px;
    font-family: var(--font-eng2);
    transform: translateY(-15px);
}

.notice-content {
    transform: translateY(-20px);
}

.notice-large {
    color: red;
    font-size: var(--font-twentyfour);
    margin: 15px 0 0 0;
}
.notice-small {
    font-size: var(--font-twenty);
}

.mode-title {
    color: var(--color-titlered);
    font-size: var(--font-twentyfour);
    letter-spacing: 4px;
    font-weight: 700;
    margin-top: 28px;
    font-family: var(--font-eng2);
}

.game__ranking-btn {
    background-color: transparent;
    animation: color-change-red 2s infinite;
    position: absolute;
    right: 75px;
    bottom: 16px;
    font-weight: bold;
    font-size: var(--font-twentyfour);
    font-family: var(--font-eng1);
}

.game__notice-prev-btn {
    font-size: 44px;
    background-color: transparent;
    animation: color-change-white 5s infinite;
    position: absolute;
    right: 20px;
    bottom: 5px;
}
.game__prev-btn,
.game__ranking-prev-btn {
    font-size: 44px;
    background-color: transparent;
    animation: color-change-white 5s infinite;
    position: absolute;
    right: 20px;
    bottom: 5px;
}
.game__rank-description {
    display: block;
    font-size: var(--font-normal);
    line-height: 5px;
    font-family: var(--font-kor1);
    transform: translateY(-14px);
}

.game__ranking {
    font-size: var(--font-normal);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-family: var(--font-kor2);
}

.game__ranking-title,
.game__ranking-content {
    display: flex;
    align-items: center;
}

.game__ranking-title {
    margin-bottom: 3px;
    font-family: var(--font-eng2);
}

.game__ranking-contents {
    font-size: var(--font-regular);
    width: 550px;
}

.game__ranking-content {
    border-top: 1px solid rgba(255, 255, 255, 0.528);
    height: 31px;
    background-color: rgba(43, 0, 73, 0.569);
}
.game__ranking-content:nth-child(1) {
    border-width: 3px;
    border-color: var(--color-white);
    height: 35px;
    background-color: rgba(255, 66, 66, 0.583);
}
.game__ranking-content:nth-child(2) {
    background-color: rgba(100, 61, 255, 0.604);
}
.game__ranking-content:nth-child(3) {
    background-color: rgba(251, 251, 0, 0.583);
}
.game__ranking-content:nth-child(10) {
    height: 35px;
    border-bottom: 3px solid var(--color-white);
}

.ranking-no {
    width: 50px;
}
.ranking-name {
    width: 220px;
}
.ranking-date {
    width: 140px;
}
.ranking-score {
    width: 100px;
}

.ranking-no.title,
.ranking-name.title,
.ranking-score.title,
.ranking-date.title {
    transform: translateX(-20px);
}

.ranking-comment {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    position: absolute;
    width: 400px;
    height: 313px;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -31%);
    font-family: var(--font-kor1);
    z-index: 1;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    opacity: 1;
    transition: opacity var(--animation-duration2);
}

.ranking-comment > .comment-rank {
    font-size: var(--font-middle);
    line-height: var(--font-middle);
    height: 40px;
}

.ranking-comment > .comment-name {
    font-size: var(--font-middle);
    line-height: var(--font-middle);
    height: 30px;
}

.ranking-comment > .comment-content {
    margin-top: 10px;
    width: 330px;
    height: 200px;
    font-family: var(--font-kor2);
    overflow: scroll;
}

.ranking-emoji {
    background-color: transparent;
    width: 30px;
    position: absolute;
    font-size: var(--font-twenty);
    right: 30px;
}

.ranking-emoji:hover {
    transform: scale(1.1);
}

.ranking {
    background-color: white;
    width: 300px;
    height: var(--size-field-height);
    position: absolute;
    top: 0px;
    right: -300px;
}

.game__sniper__scope {
    width: 400px;
    height: 400px;
    box-sizing: content-box;
    position: absolute;
    transform: translate(-2200px, -2200px);
    background-color: transparent;
    border: 2000px solid rgba(0, 0, 0, 0.98);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
    visibility: hidden;
}

.pop-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #00000090;
    width: 400px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 14px;
    color: var(--color-white);
    border-radius: 20px;
    text-align: center;
    font-family: var(--font-eng2);
    transition: all var(--animation-duration) ease-in;
    animation: appear var(--animation-duration);
}

.pop-up-wide {
    height: 440px;
    transform: translate(-50%, -45%);
    animation: translate-change 1s ease-out;
}

.pop-up div {
    font-size: var(--font-regular);
}

.pop-up__btn-box button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    background-color: var(--color-pink);
    border: 2px solid black;
    border-radius: 50%;
    margin: 0 7px;
}

.pop-up__message {
    display: block;
    margin-top: 6px;
    font-size: var(--font-medium);
}

.pop-up__home {
    display: none;
}

.pop-up__write {
    border-top: 2px solid white;
    font-family: var(--font-kor2);
    margin-top: 10px;
    padding-top: 10px;
}

.pop-up__write-comment > p {
    font-size: var(--font-twenty);
    font-family: var(--font-eng1);
    margin-bottom: 5px;
    margin-top: 10px;
}

.pop-up__write-comment > textarea {
    width: 334px;
    font-size: var(--font-small);
    font-family: var(--font-kor2);
}

.pop-up__write-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.pop-up__write-name > span {
    font-size: var(--font-twenty);
    font-family: var(--font-eng1);
    margin-right: 10px;
}

.pop-up__write-name > input {
    font-size: var(--font-regular);
    margin-right: 10px;
    font-family: var(--font-kor2);
    width: 170px;
}

.pop-up__write-submit {
    margin-left: 10px;
    font-size: var(--font-normal);
    font-family: var(--font-eng1);
    background-color: transparent;
    animation: color-change-red 2s infinite;
}

@keyframes border-change {
    0% {
        border-color: var(--color-brownred);
        color: var(--color-white);
    }
    50% {
        border-color: var(--color-red);
        color: var(--color-lightred);
    }
    100% {
        border-color: var(--color-brownred);
        color: var(--color-white);
    }
}

@keyframes color-change {
    0% {
        color: var(--color-lightgreen);
    }
    50% {
        color: var(--color-green);
    }
    100% {
        color: var(--color-lightgreen);
    }
}

@keyframes color-change-white {
    0% {
        color: var(--color-white);
    }
    50% {
        color: grey;
    }
    100% {
        color: var(--color-white);
    }
}

@keyframes backgroundcolor-change {
    0% {
        background-color: var(--color-deeporange);
    }
    50% {
        background-color: var(--color-brownred);
    }
    100% {
        background-color: var(--color-deeporange);
    }
}

@keyframes color-change-red {
    0% {
        color: var(--color-brownred);
    }
    50% {
        color: var(--color-red);
    }
    100% {
        color: var(--color-brownred);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes translate-change {
    0% {
        transform: translate(-50%, -70%);
    }
    100% {
        transform: translate(-50%, -45%);
    }
}

/* game items */
.zombie,
.pumpkin,
.time,
.life,
.bomb,
.eye,
.nasa,
.sun {
    transition: all 100ms ease-in;
    -webkit-user-drag: none;
}

.zombie:hover,
.pumpkin:hover,
.time:hover,
.life:hover,
.bomb:hover,
.eye:hover,
.nasa:hover,
.sun:hover {
    transform: scale(1.1);
    cursor: url('imgs/target2.png') 30 30, auto;
}

.zombie.reverse:hover {
    transform: scale(-1.1, 1.1);
}

.time,
.life {
    font-size: var(--font-medium);
}

.git {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-family: sans-serif;
    font-size: var(--font-small);
    color: var(--color-white);
}

.git i {
    font-size: var(--font-twenty);
    margin-right: 10px;
}

.git:hover {
    animation: git-animate 3s infinite;
}

@keyframes git-animate {
    0% {
        color: var(--color-lightred);
    }
    50% {
        color: var(--color-brownred);
    }
    100% {
        color: var(--color-lightred);
    }
}

.mobile__notice {
    display: none;
    color: white;
    position: absolute;
    background: url('imgs/background-mobile.jpg') center/cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.mobile__notice__description {
    width: 80%;
    height: 245px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 30px 0;
    font-size: var(--font-regular);
    border-radius: 20px;
    position: relative;
}

.mobile__notice__description > span > img {
    width: 150px;
    position: absolute;
    top: 10px;
    left: -50px;
}

@media screen and (max-width: 768px) {
    .game,
    .pop-up,
    .git {
        display: none;
    }

    .mobile__notice {
        display: flex;
    }
}

.invisible {
    display: none;
}
.hidden {
    visibility: hidden;
    opacity: 0;
}

.reverse {
    transform: scaleX(-1);
}
